pjsip-2.15.1-library-universal-macOS/** filter=lfs diff=lfs merge=lfs -text
pjsip-2.15.1-library-universal-macOS/**/*.a filter=lfs diff=lfs merge=lfs -text
pjsip-2.15.1-library-universal-macOS/**/lib* filter=lfs diff=lfs merge=lfs -text
